{% render 'shogun-products', content: product %}
{{product.metafields.shogun.above}}
{% section 'product-main' %}
{% if product.title == 'The Brow Trio™'%} 
<div class="custom-content--root" >
  <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/0ED51B49-486A-4DDB-8213-008E601AA273_77d073d6-73c4-40a9-9b3e-effc0f83be21.png?v=1622638357">
</div>
{% endif %}
<div class="section-reviews-width">
  <div class="container">
	{% render 'okendo-reviews-widget', product: product %}
  </div>
</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

  var count = 0;

  $("#shopify-section-product-main .poster-image").click(function(){
    $("#shopify-section-product-main .ckin__player").addClass('video_played');
    $("#shopify-section-product-main .default__controls.ckin__controls").css("display", "flex");
  });
  var selectCallback = function(variant, selector) {
    if (variant && variant.available == true) {
      console.log('Available');
      jQuery('.product-form--add-to-cart').removeAttr("disabled", "disabled");
      jQuery('.product-form--add-to-cart').text('ADD TO CART');
      jQuery('.shopify-payment-button').css('display','block');
    }else{
      jQuery('.product-form--add-to-cart').text('OUT OF STOCK');
      jQuery('.shopify-payment-button').css('display','none');
      jQuery('.product-form--add-to-cart').attr("disabled", "disabled");
      console.log('Not Available');
    }
    if (variant) {

      jQuery('#tr_price').html(Shopify.formatMoney(variant.price, "{{shop.money_format}}"));

                                                   if(count == 1){
                               var image_id = jQuery('#productSelect option[value="'+variant.id+'"]').attr("data-image-id");
      console.log(image_id);
      var id_img = jQuery('#main_slider .slide_'+image_id).attr("data-image-id");
      console.log('matched: '+id_img);
      var click_dot=".owl-dots .owl-dot #dot_id_"+id_img;
      console.log(click_dot);
      document.querySelector(click_dot).click();
    }
  }
  count = 1;
  };

  $(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').append('<i class="fas fa-chevron-down arrow-down"></i>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
    {% endif %}
  });
</script>

<!-- Klaviyo product tracking -->
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<script type="text/javascript">
  var _learnq = _learnq || [];
  document.querySelector('.product-form--add-to-cart').addEventListener('click',function (){
    _learnq.push(['track', 'Added to Cart', item]);
  });
</script>
<!-- End of Klaviyo product tracking -->
{{product.metafields.shogun.below}}
